body {
  background-color: #EEE6D9;
}
.section-header{
  font-size: 4vw;
  color: #5D6B7D;
}

.past-title{
  font-size: 2.5vw;
  color: #2f2f72;
}
.past-desc{
  font-size: 1.75vw;
  color: #583A52;
}
.past-date{
  font-size: 1.25vw;
  color: #586b1a;
}
.jumbotron {
  background-image: url('images/mountains.jpeg');
  background-position: 45% 52%;
  background-size: 100%;
  text-align: center;
  color: #583A52;
  font-size: 5.5vw;
}

.main-text {
  color: #583A52;
}
.nav>li{
  font-size: 2.5vh;
  margin-bottom: 0px;
  background-color: #EEE6D9;
}

li>a {
  color: #583A52;
}
a:focus, a:hover {
  text-decoration: underline;
  color: #583A52;
}

/*.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  /*background-color: #eee;*/
/*}
.nav-pills > li:active > a,
.nav-pills > li:active > a:hover,
.nav-pills > li:active > a:focus {
  text-decoration: underline;
  background-color: #eee;
}*/

.nav {
  opacity: .6;
}
