#index-banner {
  background-image: url('images/mountains.jpeg');
  background-position: 45% 52%;
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  width: 100%;
  font-family: 'Abril Fatface', cursive;
}

.tilt {
  -webkit-transform: rotate(7.5deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(7.5deg);  /* IE 9 */
        transform: rotate(7.5deg);
}

#profile_image{
  border: 1.5rem solid rgba(84, 110, 122, .6);
}


/*#nav-mobile > li > a:hover,
#nav-mobile > li > a:focus {
  text-decoration: underline;
  background-color: #eee;
}
#nav-mobile > li.active > a,
#nav-mobile > li.active > a:hover,
#nav-mobile > li.active > a:focus {
  color: black;
  background-color: #003399;
  text-decoration: underline;
}

.nav-wrapper{
  opacity: 0.6;
  background-color: #003399;
}*/

#section-header{
  color:#746e93;
}

#about_me_section{
  color:#6C8E87;
}
