.jumbotron {
  background-image: url('images/mountains.jpeg');
  background-position: 45% 52%;
  background-size: 100%;
  text-align: center;
  color: #583A52;
  font-size: 5.5vw;
}


.nav {
  opacity: .6;
}

.nav>li{
  font-size: 2.5vh;
  margin-bottom: 0px;
  background-color: #EEE6D9;
}

li>a {
  color: #583A52;
}
a:focus, a:hover {
  text-decoration: underline;
  color: #583A52;
}

body {
  background-color: #EEE6D9;
}
.section-header{
  font-size: 3.25vw;
  color: #5D6B7D;
  text-align: center;
  text-decoration: underline;
}

.main-text {
  color: #583A52;
  font-size: 1.5vw;
  display: block;
  text-align: center;
}

.project-link, .project-link:hover {
  color: #424f19;
  font-size: 1.5vw;
  text-align: center;
  text-decoration: underline;
}

.panel-title{
  font-size: 1.9vw;
  color: #583A52;
}

.about-list{
  text-align: center;
  color: #583A52;
  font-size: 1.5vw;
  display: block;
}
